.myprojects-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 0px;
    grid-column-gap: 20px;
    padding-right: 2%;
    padding-left: 2%;
}

@media (max-width: 1000px) {
    .myprojects-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        padding-right: 2%;
        padding-left: 2%;
    }
}