  .nav-bar {
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(255, 255, 255, 0.00);
    min-height: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;
  }

  .nav-bar .title .topic-card-title{
    font-size: 20px;
    color: #FFFFFF;
    font-weight: bold;
    white-space: nowrap;
    flex: 1;
  }

  .title {
    font-weight: bold;
    font-size: 18px;
  }

  .nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
  }

  .nav-link{
    color: #dbdbdb;
    text-decoration: none;
    padding-left: 20px;
    font-size: 22px;
    font-weight: bold;
  }


  .nav-link:hover,
  .nav-link:focus {
     color: #FFFFFF;
     text-shadow: 0 0 10px #FFFFFF;
     font-weight: bold;
  }

  .hamburger-icon {
    display: none;
    font-size: 30px;
    color: #dbdbdb;
    cursor: pointer;
    flex: 0;
  }

  /* Mobile navigation styles */
  @media (max-width: 1000px) {
    .nav-bar {
      padding-bottom: 30px;
      min-height: 100px;
    }

    .nav-links {
      display: none;
    }

    .hamburger-icon {
      display: block;
      padding-left: 10px;
    }

    .nav-bar .title {
      flex: 1;
      text-align: center;
    }

    .nav-links-mobile {
      display: flex;
      opacity: 0.95;
      flex-direction: column;
      position: absolute;
      top: 125px;
      left: 0;
      width: 100%;
      background: rgba(13, 27, 42, 0.0);
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .nav-link {
      text-align: center;
      padding: 8px;
      color: #FFFFFF;
      font-size: 20px;
      text-decoration: none;
      transition: color 0.3s, text-shadow 0.3s;
    }

    .nav-link:hover {
      color: #FFFFFF;
      text-shadow: 0 0 10px #FFFFFF;
      font-weight: bold;
    }
  }

  @media (max-width: 400px) {
    .title {
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
    }
}
