.nav-bar {
  position: sticky;
  top: 0;
  background: #363636;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
  z-index: 1000;
}

.nav-bar h1 {
  font-size: 20px;
  margin: 0;
  color: #dbdbdb;
  text-align: center;
  white-space: nowrap;
}