.project-box {
    height: 90%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.1); /* White with 80% opacity */
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    cursor: pointer;
}

.project-box:hover {
    transform: scale(1.05);
}

.project-img {
    width: 100%;
    height: 100%; /* Maintains aspect ratio */
    object-fit: contain; /* Keeps image undistorted */
    object-position: right; /* Centers the image */
    display: block; /* Prevents unexpected inline spacing */
}

.project-data-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1b263b;
    padding: 15px;
    box-sizing: border-box;
}

.project-data-box h1 {
    font-size: 17px;
    margin: 0;
    display: inline-block;
}

.project-title{
    color: #dbdbdb;
}

.status-completed {
    color: #65ff4a;
    font-weight: bold;
    padding-right: 10px;
    float: right;
}

.status-in-progress {
    color: #579adc;
    font-weight: bold;
    padding-right: 10px;
    float: right;
}

.coming-soon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.coming-soon-box h1 {
    color: #dbdbdb;
}

@media (max-width: 1000px) {
.project-box {
    height: 200px;
    width: 100%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.1); /* White with 80% opacity */
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    cursor: pointer;
}
}