@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
  overflow-y: auto;
}

.App {
  width: 100vw;
  height: 100vh;
  height: 100svh;
  align-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  background: linear-gradient(0deg, #e0e1dd 5%, #1b263b 100%);
}

h1,
h2,
p,
.nav-link,
.logo{
  font-family: 'Poppins'
}

.title,
.text{
  color: #0d1b2a;
}

.subtitle{
  color: #b7cce1;
}

.aboutme-section,
.myprojects-section,
.contactme-section,
.project-section{
  margin-top: 8%; /*NavBar adjustment*/
  height: 83.4vh; /*NavBar adjustment*/
  height: 83.4svh;
  width: 100vw;
}

.cv-section{
  padding-top: 125px;
  height: 98.5vh; /*NavBar adjustment*/
  height: 98.5svh;
  width: 100vw;
}

@media(max-width:1000px){
    .aboutme-section,
    .myprojects-section,
    .contactme-section,
    .project-section,
    .cv-section{
      margin-top: 30%; /*NavBar adjustment*/
      height: 83.4vh; /*NavBar adjustment*/
      height: 83.4svh;
      width: 100vw;
    }
}

